<div class="card">

      <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-6">
                  <h1>Ürünler</h1>
                </div>
                <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">Ürünler</li>
                    <li class="breadcrumb-item active">Yönet</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

      <div class="card-header">
        <h3 class="card-title">Ürünler Listesi</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr >
              <th style="width: 10px">Id</th>
              <th>Ürün Adı</th>
              <th>Marka</th>
              <th>Kategori</th>
              <th>Açıklama</th>
              <th>Aktiflik Durumu</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td >
                 <p>{{product.id}}</p>
              </td>
              <td>
                <div *ngIf="product.productName; else nullName" > 
                  {{product.productName}}
                </div>
                <ng-template #nullName>
                  <div class="nulCheckData">
                    <u>Ürün Adı Boş</u>
                  </div>
                </ng-template>
              </td>
              <td>
                <div *ngIf="product.brandName; else nullBrand" > 
                  {{product.brandName}}
                </div>
                <ng-template #nullBrand>
                  <div class="nulCheckData">
                    <u>Marka Yok</u>
                  </div>
                </ng-template>
              </td>
              <td>
                <div *ngIf="product.categoryName; else nullCategory" > 
                  {{product.categoryName}}
                </div>
                <ng-template #nullCategory>
                  <div class="nulCheckData">
                    <u>Kategori Yok</u>
                  </div>
                </ng-template>
              </td>
              <td>
                <div *ngIf="product.description; else nullDescription" > 
                  {{product.categoryName}}
                </div>
                <ng-template #nullDescription>
                  <div class="nulCheckData">
                    <u>Açıklama Yok</u>
                  </div>
                </ng-template>
              </td>
              
              <td>
                <div *ngIf="product.isActive; else isFalse"> 
                  <span class="badge bg-success">Aktif</span>
                </div>
                <ng-template #isFalse>
                  <div class="nulCheckData">
                    <span class="badge bg-danger">Pasif</span>
                  </div>
                </ng-template>
              </td>
            </tr>
            <tr>
              <div class="container">
                <div class="row">
                  <div class="col">
                    Toplam:{{totalProductCount}}
                  </div>
                </div>
              </div>
            </tr>
          </tbody>
          
        </table>
      </div>
      <!-- /.card-body -->
      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item" *ngIf="selectedPage != 1">
            <button class="page-link" (click)="changePage(1)">
              «
            </button>
          </li>
          <li class="page-item" [ngClass]="selectedPage == page ? 'active' :'' " *ngFor="let page of pageNumbers">
            <button class="page-link" (click)="changePage(page)">

            {{page}}

            </button>
          </li>
          <!-- <li class="page-item">
            <button class="page-link" (click)="changePage(1)">
              »
            </button>
          </li> -->
        </ul>
      </div>
    </div>
